<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시판 리스트</title>
</head>
<body>
    <h1>게시판 리스트</h1>
    <a href='/write'>글쓰기</a><br>
    <table width='600' border="1">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>날짜</th>
            <th>조회</th>
        </tr>
        {% for b in lists %}
        <tr>
                <td>{{b.num}}</td>
                <td><a href="/read/{{b.num}}">{{b.title}}</a></td> <!-- REST 방식 -->
                <td>{{b.writer}}</td>
                <td>{{b.regdate}}</td>
                <td>{{b.hit}}</td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>