      * {
        box-sizing: border-box;
        font-family: 'Noto Sans KR', sans-serif;
    }

    body {
        margin: 0;
        background-color: #1BBC9B;
        
    }

    .login-form {
        width: 300px;
        /* height: 213.2px; */
        background-color: #EEEFF1;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        border-radius: 5px;
    }

    .text-field {

        font-size : 14px;
        width : 100%;
        border : none;
        border-radius : 5px;
        padding : 10px;
        margin-bottom : 10px;
        /* 100% */

        /*
        width: 260px; 
        height: 30px;
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        border-radius: 5px;
        padding: 10px;
        border: none;
        */

    }

    .submit-btn {

        font-size: 14px;
        background-color: #1BBC9B;
        color: white;
        width : 100%;
        border-radius: 5px;
        padding : 10px;
        border : none;

`       /*
        width: 260px;
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        background-color: #1BBC9B;
        padding: 10px;
        color: white;
        display: block;
        border: none;
        border-radius: 5px;
        */

    }

    .submit-btn:hover {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);

    }

    .links {
        margin-top : 30px;
        text-align: center;
       /* padding: 0px 0px 20px 0px; */
    }

    .links a {
        font-size: 12px;
        color : #9B9B9B;
    }




    