.env-div {
  width: 500px;
  height: 232px;
  position: fixed;

}

.address {
  font-family: cursive;
  position: absolute;
  left : 30px;
  bottom : 30px;
}

.stamp {
	position: absolute;
	top : 30px;
	right : 30px;
}