* {
    box-sizing: border-box;
}

@font-face {
    src: url("BMJUA_ttf.ttf");
    font-family : "Jua";
}

@font-face {
    src: url("BMHANNAPro.ttf");
    font-family: "Pro";
}

@font-face {
    src: url("BMHANNAAir_ttf.ttf");
    font-family: "Air";
}

.navbar {
    font-family: "Jua";
}

.navbar .navbar-brand {
    font-size: 22px;
}

.navbar #com {
    color: #8D4315;
}

.nav-item b {
    color: black;
}

.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.main-image {
    
    height: 650px;
    background: url("../static/coffee_main.PNG");
    background-size: cover;
    background-position: center center;
    text-align:center;

}

.main-image .container {
    display: inline-block;
    text-align: center;
    font-family: "Jua";
    color: #424242;
    vertical-align: middle;
}

.container input {
    
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    margin-right: 15px;
}

.container button {
    font-family: "Pro";
    color: #424242;
    width: 50px;
}


.container input,button {
    border: None;
    font-family : "Air";
    border-radius: 3px;
    height: 40px;
}

#encore {
    font-size: 30px;
    text-align: center;
    font-family: "Pro";
    
    
}
#encore span {
    color: #8D4315;
}

#loc {
    font-size: 32px;
}

.login-form {
    font-family: 'Noto Sans KR', sans-serif;
    width: 340px;
    background-color: #EEEFF1;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 5px;
}

.text-field {

    font-size : 14px;
    width : 100%;
    border : none;
    border-radius : 5px;
    padding : 10px;
    margin-bottom : 10px;
}

.submit-btn {

    font-size: 14px;
    background-color: #DEC196;
    color: white;
    width : 100%;
    border-radius: 5px;
    padding : 10px;
    border : none;

}

.submit-btn:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);

}

.links {
    margin-top : 30px;
    text-align: center;
   /* padding: 0px 0px 20px 0px; */
}

.links a {
    font-size: 12px;
    color : #9B9B9B;
}


.footer {
    background-color: #424242;
    vertical-align: middle;
    height: 100px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
}

.footer p {
    color:#D8D8D8;
    font-family: "Air";
    margin-bottom: 5px;

}

.fb_twit {
    text-align: center;
}
.fb_twit img {
    width: 25px;
    margin-right: 10px;
    margin-left: 10px;
}

@media(min-width: 768px) {

    #encore {
        font-size: 42px;
        }
    


}