<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>방명록 리스트</title>
</head>
<body>
    <h1>방명록 리스트</h1>
    <a href="write">방명록 남기기</a><br></br>

{% if guests %}
<table width='100%', border="1"> 
<tr>
    <th>제목</th>
    <th>내용</th>
    <th>글쓴이</th>
    <th>날짜</th>

</tr>
{% for g in guests %}
<tr>
    <th>{{ g.title }}</th>
    <th>{{ g.content }}</th>
    <th>{{ g.writer }}</th>
    <th>{{ g.regdate }}</th>
</tr>
{% endfor %}
</table>

{% endif %}
</body>
</html>