* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-width: 992px;
}

/* Navigation Bar */

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 992px;
  width: 100%;
  padding-left: 23px;
  padding-right: 23px;
}

.navbar {
  height: 80px;
  line-height: 80px;
}

.navbar #logo {
  float: left;
  margin: 0 17px;
}

.navbar #logo img {
  vertical-align: middle;
}

.navbar .menu {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
}

.navbar .menu li {
  float: left;
  margin: 0 17px;
}

.navbar .menu li a {
  color: #817C92;
  text-decoration: none;
  vertical-align: middle;
}

.navbar .menu-left {
  float: left;
}

.navbar .menu-right {
  float: right;
}

/* Hero Header */

.hero-header {
  height: 100vh;
  background-image: linear-gradient(-1deg, rgba(77,121,194,0.22) 0%, rgba(77,121,194,0.00) 100%);
}

.container {
  text-align: center;
  line-height: 100vh;
}

.left {
  width: 500px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  text-align: left;
}

.left h2 {
  font-weight: normal;
  font-size: 24px;
  color: #323966;
  line-height: 45px;
  margin: 0;
  margin-bottom: 20px;
}

.left #email-input {
  background: #FFFFFF;
  box-shadow: 3px 3px 8px 0 rgba(0,0,0,0.20);
  border-radius: 5px;
  font-size: 18px;
  padding: 18px 24px;
  padding-right: 118px;
  border: none;
  width: 400px;
}

.left #submit-btn {
  margin-left: -100px;
  width: 88px;
  background: #9E9E9E;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
}

.container #main-img {
  vertical-align: middle;
}