.quote {
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
  margin-top: 75px;
}

.figure {
  margin-top: 50px;
}

.quote #emp1 {
	font-size : 96px;
	display: inline;
	position : relative;
	top : 20px;
	margin-right: 15px;

}

.quote #emp2 {
	font-size : 96px;
	display: inline;
	position: relative;
	top : 80px;
	margin-left: 15px;
}
